{% extends 'base.html' %}

{% block conteudo %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{nome_pagina}}</h1>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Nome completo</th>
                        <th>CPF</th>
                        <th>Horário de chegada</th>
                        <th>Horário da autorização</th>
                        <th>Autorizado por</th>
                        <th>Mais informações</th>
                    </thead>

                    <tbody>
                        {%for visitante in todos_visitantes%}
                        <tr>
                            <td>{{ visitante}}</td>
                            <td>{{ visitante.get_cpf}}</td>
                            <td>{{ visitante.get_horario_chegada}}</td>
                            <td>{{ visitante.get_horario_autorizacao}}</td>
                            <td>{{ visitante.get_morador_responsavel}}</td>
                            <td>
                                <a href="{% url 'informacoes_visitante' pk=visitante.id %}">
                                    Ver informações
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock conteudo %}